!!! XML
!!! 1.1
%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title
      #{@title}
    %meta{ :content => "text/javascript", "http-equiv" => "Content-Script-Type" }
    %meta{ :content => "text/css", "http-equiv" => "Content-Style-Type" }
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
    %meta{ :content => "0", "http-equiv" => "expires" }
    %meta{ :name => "description", :content => "Description for search engines" }
    %meta{ :name => "generator", :content => "Ramaze #{Ramaze::VERSION}" }
    %meta{ :name => "keywords", :content => "Ramaze, Your own keywords" }
    %meta{ :name => "author", :content => "Max Mustermann" }
    %meta{ :name => "date", :content => "#{Time.now.iso8601}" }
    #{css 'screen'}
  %body
    %h1
      #{@title}
    #content #{@content}
